<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include('common/meta'); %>
    <link rel="stylesheet" href="/stylesheets/login.css">
    <script src="/javascripts/login.js"></script>
  </head>
  <body>
    <!-- <%- include('common/header'); %> -->
    <h1 id="message"><%= message %></h1>
    <form id="loginForm" method="post" action="/login">
      
      <div class="frm-field">
        <label for="username">username/Email/Mobile (उपयोगकर्ता नाम या ईमेल या मोबाइल):</label><br>
        <input type="text" id="username" name="username" value="" required >
      </div>

      <div class="frm-field">
        <label for="password">Password (पासवर्ड):</label><br>
        <input type="password" id="password" name="password" value="" required >
      </div>
      
      <div class="frm-button">
        <!-- <button id="loginFormLogin">SignIn</button> -->
        <input type="submit" value="Login">
      </div>

    </form>

    <script>
      document.getElementById('loginForm').addEventListener('submit',
       async function (event) {
        event.preventDefault();

        // const username = 'user1';  // Replace with actual username
        // const password = 'password1';  // Replace with actual password

        const username = document.getElementById("username").value;
        const password = document.getElementById("password").value;

        try {
          const response = await fetch('/login', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ username, password }),
                });

                if (response.ok) {
                    // Store the received token in a secure HTTP-only cookie
                    const { token, redirect, message } = await response.json();
                    document.cookie = `token=${token}; path=/; HttpOnly`;

                    // Optionally, you can redirect the user to the dashboard or perform other actions
                    console.log(redirect);
                    window.location.href = `/`;
                } else {
                    console.error('Authentication failed');
                }
        } catch (error) {
                console.error('Error:', error);
          }

       }
      );
    </script>
    
    <%- include('common/footer'); %>
  </body>
</html>
