<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include('common/meta'); %>
    <link rel="stylesheet" href="/stylesheets/loading.css">
    <link rel='stylesheet' type='text/css' href='/stylesheets/report.css' />
    <script src="/javascripts/loading.js"></script>
  </head>
  <body>
    <%- include('common/header'); %>
    <h1 id="message"><%= message %></h1>
    <div class="grid">
      <h1>Data Grid</h1>
  
  <!-- Render your grid using EJS variables -->
  <table id="report" class="reoprt">
    <thead>
      <tr>
        <th>Gadi Number</th>
        <th>Chassis Number</th>
        <th>Engine Number</th>
        <th>Owner Name</th>
        <th>Mobile</th>
        <th>VIN</th>
        <th>Fitness Validity</th>
        <th>Model Name</th>
        <th>Maker Name</th>
        <th>Vehicle Type</th>
        <th>Fuel Type</th>
        <th>Registration Date</th>
        <th>Tax Validity</th>
        <th>Emission Norm</th>
        <!-- <th>Financier</th>
        <th>Is Active</th>
        <th>Create Date</th>
        <th>Last Update Date</th>
        <th>Created By</th>
        <th>Updated By</th> -->
        <!-- Add more columns as needed -->
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% data.forEach(item => { %>
        <tr>
          <td><%= item.gadi_number %></td>
          <td><%= item.chassis_number %></td>
          <td><%= item.engine_number %></td>
          <td><%= item.owner_name %></td>
          <td><%= item.mobile %></td>
          <td><%= item.vin %></td>
          <td><%= item.fitness_validity %></td>
          <td><%= item.model %></td>
          <td><%= item.maker %></td>
          <td><%= item.vehicle_type %></td>
          <td><%= item.fuel_type %></td>
          <td><%= item.registration_date %></td>
          <td><%= item.tax_valid_up_to %></td>
          <td><%= item.emission_norm %></td>
          <!-- <td><%= item.financier %></td>
          <td><%= item.is_active %></td>
          <td><%= item.create_date %></td>
          <td><%= item.last_update_date %></td>
          <td><%= item.created_by %></td>
          <td><%= item.updated_by %></td> -->

          <td><a href="<%= item.id %>">View</a> &nbsp; &nbsp; <a href="<%= item.id %>">Edit</a> <%=  %></td>
          <!-- Add more columns as needed -->
        </tr>
      <% }); %>
    </tbody>
  </table>

  <!-- Add pagination controls if necessary -->
  <div>
    <!-- Add pagination controls here -->
    <span>Total Items: <%= total %></span>
  </div>

    </div>

    <%- include('common/footer'); %>
  </body>
</html>
